<!DOCTYPE html>
<html lang="en" data-theme="dark" style="font-family: Zilla Slab , serif">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../assets/stat.svg" type="image/x-icon">

</head>
<body>
    <h1 class="text-5xl text-primary font-bold mb-4">Statistics</h1>
    <div class="stats-container p-4">
        <div class="text-sm breadcrumbs mb-4">
            <ul>
                <li><a href="../index.html">Dashboard</a></li>
                <li>Statistics</li>
            </ul>
        </div>
        <div id="statsContent"></div>
    </div>
<p>Working on it</p>
    <script src="../js/index.js"></script>
</body>
</html>